:root {
    --primary-color: #d900ff;
    --secondary-color: #000000;
    --text-color: #fff;
    --background-color: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(167,0,255,1) 100%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--background-color);
    color: white;
}

strong {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
}

table {
    width: 100%; /* A tabela ocupará 50% da largura da página */
    margin: 0 auto; /* Centraliza a tabela na página */
    border-collapse: collapse; /* Remove espaçamento entre células */
}

/* Estilo das células da tabela */
td {
    width: 50%; /* Cada célula ocupa 50% da largura da tabela (25% da página) */
    padding: 5px; /* Adiciona um pequeno espaçamento interno às células */
    display: grid;
}

/* Estilo das imagens */
/* img {
    width: 50%;
    height: auto; 
    border: var(--primary-color) 5px solid;
    border-radius: 20px;
    margin: 40px;
} */

.flex__table {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens quebrem linha */
    justify-content: space-between;
    width: 100%; /* A tabela ocupará 50% da largura da página */
    margin: 0 auto; /* Centraliza na página */
}
.flex__cell {
    width: 48%; /* Cada célula ocupa 48% da largura para garantir espaço entre elas */
    margin-bottom: 10px; /* Espaço vertical entre as linhas */
    display: flex;
    justify-content: center;
}
.flex__cell img {
    width: 50%;
    height: auto; 
    border: var(--primary-color) 5px solid;
    border-radius: 20px;
    margin: 40px;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.header__button {
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
    width: 150px;
    height: auto;
    text-align: center;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    background-size: 200% auto;
    background-position: right bottom;
    transition: background-position 0.5s;
}

.header__button:hover {
    background-position: left bottom;
    color: white;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.image_nico {
    width: 400px;
    height: 600px;
    border-radius: 75%;
    margin-top: 20px;
    border: 5px solid var(--primary-color);
}

.image_icons {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contacts__links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 100%;
}

.back {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 24px;
    margin-top: 20px;
}

.back__button {
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
    width: 150px;
    height: auto;
    text-align: center;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, var(--secondary-color), var(--primary-color));
    background-size: 200% auto;
    transition: background-position 0.5s;
    background-position: right bottom;
}

.back__button:hover {
    background-position: left bottom;
    color: white;
}

.project__container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 100%;
}

.projects__buttons {
    font-size: 30px;
    color: var(--text-color);
    margin: 0 10px;
    cursor: pointer;
    width: 200px;
    height: auto;
    text-align: center;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, var(--secondary-color), var(--primary-color));
    background-size: 200% auto;
    transition: background-position 0.5s;
    background-position: right bottom;
}

.projects__buttons:hover {
    background-position: left bottom;
    color: white;
}

.social__media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.text__area {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-top: 20px;
    width: 50%;
}