:root {
    --primary-color: #d900ff;
    --text-color: #fff;
    --background-color: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(167,0,255,1) 100%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--background-color);
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.header_button {
    background-color: transparent;
    color: var(--primary-color);
    font-size: 30px;
    cursor: pointer;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.image_nico {
    width: 400px;
    height: 600px;
    border-radius: 75%;
    margin-top: 20px;
}

.image_icons {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contacts__links {
    font-size: 24px;
    color: white;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.projects__buttons {
    font-size: 30px;
    color: var(--primary-color);
    margin: 0 10px;
}